 /* CSS Styles */
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
padding-top: 50px; /* Adjust this value as needed */
background-image: url('../background2.jpg'); /* Replace with the actual path to your image */
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

/* Navigation(nav) CSS */

.nav {
background: transparent;
color: #fff;
padding: 20px 20px 11px;
text-align: right;
text-align: match-parent;
border: 1.5px solid rgba(152, 152, 152, 0.5);
backdrop-filter: blur(5px);
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
z-index: 1000; 
}

.nav a {
color: #ffffff;
text-decoration: none;
margin: 0 10px;
}

.nav a {
 display: inline-block;
 background-color: rgb(11, 11, 10);
 color: #000000;
 padding: 10px 18px;
 margin-top: 0;
 border-radius: 11px;
 text-decoration: none;
 background: transparent;
}

.nav a:hover {
  border:1px solid gray;
  border-radius: 25px;
  box-shadow:1px 1px 5px grey,inset 1px 1px 5px grey ;
}

.nav img {
width: 100px;
height: 90px;
position: absolute;
left: 50px;
top: 0.1px;
}

.span1 {
  margin-left: 51%;
}

/* Pop Up Window */

.popup{
  background-color: #ffffff;
  background: transparent;
  border: 2px solid rgba(123, 123, 123, .5);
  backdrop-filter: blur(100px);
  width: 400px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 80%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none; 
  text-align: center;
}

.popup h2{
margin-top: -20px;
}

.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
.popup a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #838383;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
}

.popup a:hover {
background: transparent;
border: 2px solid rgba(123, 123, 123, .5);
backdrop-filter: blur(100px);
color: aqua;
}


/* Style the Image Used to Trigger the Modal */
.modal-content {
max-width: 70%;
height:auto ;
}

.h21 {
  text-shadow: 3px 4px 2px rgb(188, 187, 187);
}

.js {
  width: 140px;
  margin-top: -20px;
}

/* div Container */

.container {
  width: 80%;
  max-width: 960px;
  margin: 20px auto 40px;
  padding: 20px;
  border-radius: 50px;
}

h1 {
  color: #ffffff;
}

p {
  color: #141313;
  line-height: 1.5;
}
.p2{
   color: black;
   font-size: 30px;
   text-decoration: solid;
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid rgba(123, 123, 123, .5);
  backdrop-filter: blur(100px);
  color: black;
  text-decoration: none;
  border-radius: 15px;
}

.cta-btn:hover {
  background-color: #333;
  color: #fff;
}

.img3{
  margin: 40px 15% 40px;
  margin-left: 15.5%; 
  margin-bottom: 42px;
  box-shadow: 12px 12px 12px  rgb(67, 66, 66);
  border-radius: 12px;
  align-items: center;  
}

.imf {
  width: 300px;
  height: 280px;
}

/* Footer CSS */

footer {
  /* background-color: #333; */
  background: transparent;
  border: 2px solid rgba(123, 123, 123, .5);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  color: #0a0a0a;
  padding: 20px 20px -20px;
  text-align: center;
} 

footer a {
  color: #0b0b0b;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}

footer a:hover{color:#d45050}

.social1 {
  justify-content: center;
  margin-bottom: 12px;

}
.social2{
  display: inline-flex;

}
.social2 a {
  justify-content: space-around;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #080808;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  text-shadow: 3px 4px 2px rgba(99, 99, 99, 0.792);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (min-width: 480px) {
}