*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover{color:#d45050}

header {
    background-color: #333;
    color: #fff;
    padding: 18px;
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
}

.div1{
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 25px 10px 25px;
    display: flex;
}

p{
    color: rgb(154, 154, 154);
    font-size: 16px;
    text-decoration: solid;
    text-transform: none;
}

.h9{
    background-color: aquamarine;
    margin: 10px 27px 10px;
    padding: 2px;
    border-radius: 100px;
}
.h9:hover {
    color: #ffff;
}

.div1{
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 25px 10px 25px;
    display: flex;
}

.p1{
    color: black;
    font-size: 15px;
    text-decoration: solid;
    text-transform: none;
    text-align: justify;
}

/* Style the navigation menu */
nav ul {
    background-color: #777;
    color: #fff;
    padding: 20px;
    text-align: right;
    text-align: match-parent;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: rgb(2, 2, 2);
    border-radius: 15px;
}

/* nav ul li a:hover {
    color: #555;
} */

.footer {
    background-color: #333;
    color: #807c7c;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 8px 8px 8px #777;
    margin-left: 37px;
}

table:hover {
    cursor: crosshair;
}

th, td {
    padding: 8px;
    border: 2px solid #8b8383;
    text-align: center;
}

th {
    background-color: #707070;
}

td {
    background-color: #bababa;
}

.h1 {
    border-radius: 50px;
}

.h1:hover {
    color: #ffff;
}

/* h2:hover {
    color: #909090;
} */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .nav {
    background-color: #777;
    color: #fff;
    padding: 20px;
    text-align: right;
    text-align: match-parent;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .nav a {
     display: inline-block;
     background-color: rgb(11, 11, 10);
     color: #fff;
     padding: 10px 18px;
     margin-top: 0;
     border-radius: 11px;
     text-decoration: none;
  }  