<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='white.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    
    <nav class="nav">
        <img src="{{ url_for('static', filename='background-removebg-preview.png') }}" alt="Logo">
        <a href="{{ url_for('index') }}"><b>Home</b><i class="fa fa-fw fa-home"></i></a>
        <a href="{{ url_for('about') }}"><b>About</b><i class="fa fa-fw fa-info"></i></a>
        <a href="{{ url_for('Why') }}"><b>Why</b><i class="fa fa-fw fa-question"></i></a>
        <a href="#"><b>Login</b><i class="fa fa-fw fa-sign-in"></i></a>
    </nav>
   
    <main>
        <section>
            <div class="div7">
                <h2 class="h21">About Us</h2>
                    <p>
                        Welcome to the Data Visualization Website! Our team comprises enthusiastic data lovers who are committed to converting intricate data into impactful 
                        visualizations.
                    </p>

                <h3>Our Objective</h3>
                    <p>
                        At Data Visualization Website, our objective is to enable individuals and organizations in making data-driven decisions through the provision of visually 
                        engaging and informative data visualizations.
                    </p>

                <h3>Meet Our Team</h3>
                    <!-- <ul class="horizontal-list">
                        <li>
                            <img class="img3" src="{{ url_for('static', filename='Harsh.jpg') }}" alt="Team Member 1" style="width: 100px;">
                            <h4>Harsh Kesharwani</h4>
                            <p class="p">Front-end Developer</p>
                        </li>
                        <li>
                            <img class="img3" src="{{ url_for('static', filename='Sahil.jpeg') }}" alt="Team Member 2" style="width: 100px;">
                            <h4>Sahil Ullah</h4>
                            <p class="p">Python Developer</p>
                        </li>
                        <li>
                            <img class="img3" src="{{ url_for('static', filename='Niraj.jpeg') }}" alt="Team Member 3" style="width: 100px;">
                            <h4>Niraj Kumar</h4>
                            <p class="p">Database Manager</p>
                        </li>
                    </ul>-->


                    <!-- <div class="div90"> -->
                        <!-- <div class="row"> -->
                        <ul class="horizontal-list">
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3"> -->
                                <div class="our-team">
                                    <div class="picture">
                                        <img class="img-fluid" src="{{ url_for('static', filename='Harsh.jpg') }}">
                                    </div>
                                    <div style="padding-left: 10px; padding-right: 10px;" class="team-content">
                                        <h3 class="name">Harsh Kesharwani</h3>
                                        <h4 class="title">Front-end Developer</h4>
                                    </div>
                                    <ul class="social">
                                        <!-- <li>&nbsp;</li> -->
                                        <p>"The best way to predict the future is to invent it." - Alan Kay</p>
                                    </ul>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3"> -->
                                <div style="padding-left: 20px; padding-right: 20px; margin: 0 56px 30px;" class="our-team">
                                  <div class="picture">
                                    <img class="img-fluid" src="{{ url_for('static', filename='Sahil.jpeg') }}">
                                  </div>
                                  <div class="team-content">
                                    <h3 class="name">Sahil Ullah</h3>
                                    <h4 class="title">Python Developer</h4>
                                  </div>
                                  <ul class="social">
                                    <!-- <li>&nbsp;</li> -->
                                    <p>"Code is like humor. When you have to explain it, it's bad." - Cory House</p>
                                  </ul>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3"> -->
                                <div style="padding-left: 15px; padding-right: 15px;" class="our-team">
                                    <div class="picture">
                                        <img  style="height: 118px; width: 97px;" class="img-fluid" src="{{ url_for('static', filename='Niraj1.jpg') }}">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="name">Niraj Kumar</h3>
                                        <h4 class="title">Database Manager</h4>
                                    </div>
                                    <ul class="social">
                                        <!-- <li>&nbsp;</li> -->
                                        <p>"It's not a bug, it's an undocumented feature." - Anonymous</p>
                                    </ul>
                                </div>
                            <!-- </div> -->
                        </ul>  
                        <!-- </div> -->
                    <!-- </div> -->


                <!-- <h3>Our Expertise</h3>
                <p>Our area of expertise lies in utilizing data visualization techniques and Python libraries. Leveraging our proficiency in data analysis and visualization, we excel at discovering significant insights and effectively conveying them through interactive and visually captivating visualizations.</p>
                
                <h3>Projects and Success Stories</h3>
                <p>Over time, we have accomplished numerous projects, assisting organizations from different industries in comprehending their data. Our visualizations have delivered valuable insights, empowering our clients to make well-informed decisions and foster expansion.</p>
                <h3>Approach and Methodology</h3>
                <p>Our approach to data visualization involves a combination of data analysis, design principles, and user-centricity. We collaborate closely with our clients to understand their specific requirements and goals, ensuring that our visualizations are tailored to their needs. Through an iterative process, we refine the visualizations to ensure they effectively communicate the intended message.</p> -->

                <h3>Contact Us</h3>
                    <p>
                        Have a data visualization project in mind? We are eager to hear from you! Get in touch with us by contacting info@datavisualizationwebsite.com 
                        or submitting your contact details and feedback message using the provided form below. Let's transform your data into impactful visualizations!
                    </p>
                <br>
                <!-- Include the contact form fields -->
                <form action="/save_data" method="POST">
                    <fieldset class="field">
                        <legend><b>Feedback Form</b></legend><br>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Full Name" required><br><br>
                    
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="example@gmail.com" required><br><br>
                    
                        <label for="message">Feedback:</label>
                        <textarea id="message" name="message" rows="2" placeholder="Your details and Feedback from you!" required></textarea><br><br>

                    </fieldset>
                    <br>
                    <button type="submit" class="btn1"><b>Submit</b></button>
                </form> 
            </div>
        </section>
    </main>   


    <footer class="footer">
        <b><p style="margin-top: 10px;">&copy; 2023 Your Company. All rights reserved. | <a type="button" href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p></b>
        <!-- <section> -->
            <div>
                <p style="text-align: center; margin-bottom: 6px; margin-top: 10px;"><u><b>Connect with us</b></u></p>
                <div class="social1">
                    <ul class="social2">
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a>&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true">&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a target="_blank" href="https://pitatnzujpbpsxtkarawkqbn.hi.link/" class="fa fa-globe" aria-hidden="true">&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true">&nbsp;&nbsp;&nbsp;</a></li>
                      </ul>
                </div>
            </div>
        <!-- </section> -->
    </footer>

</body>
</html>